

 
    <div class="ftco-blocks-cover-1" >
      <div class="ftco-cover-1 overlay " style="background-image: url('assets/images/hero_1.jpg')">
      <br><br><br><br><br><br> 
<div class="container">
  <br><br><br><br><br><br>
  <div class="search-div">
    
    <mat-form-field class="search-form-field" floatLabel="never">
      <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
      <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <br>
  <mat-spinner style="margin-left: 560px; width:100px;" *ngIf="showspinner" color="primary"></mat-spinner>
  <div class="mat-elevation-z8 " *ngIf="!showspinner">
    <mat-table [dataSource]="datasource" matSort>
      <ng-container matColumnDef="Nom_Voiture">
        <mat-header-cell *matHeaderCellDef mat-sort-header>  Nom  Voiture</mat-header-cell>
        <mat-cell *matCellDef="let element" style="border-spacing: 25px;"> {{element.Nom_Voiture}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Nom_utilisateur">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nom d'utilisateur </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Nom_utilisateur}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header style="margin-left:50px;"> Email</mat-header-cell>
        <mat-cell *matCellDef="let element"> <a href="mailto:{{element.email}}">{{element.email}} </a> </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Date_debut">
        <mat-header-cell *matHeaderCellDef mat-sort-header >  Date debut </mat-header-cell>
        <mat-cell *matCellDef="let element" style="margin-left:45px;">{{element.Date_debut}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Date_fin">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Date fin</mat-header-cell>
        <mat-cell *matCellDef="let element" style="margin-left:20px;">{{element.Date_fin}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button color="warn" (click)="onDelete(row._id)">
            <mat-icon>delete_outline</mat-icon>
          </button> &nbsp;&nbsp;
          <mat-slide-toggle ></mat-slide-toggle></mat-cell>
      </ng-container>
      <ng-container matColumnDef="loading">
        <mat-footer-cell *matFooterCellDef colspan="6">
          Loading data...
        </mat-footer-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':datasource!=null}"></mat-footer-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[ 5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
  </div>
</div>
<br>