
    <!-- backtotop - start -->
    <div id="thetop"></div>
    <div class="backtotop">
      <a href="/favorites"class="scroll">
        <i class="fa fa-arrow-up"></i>
      </a>
    </div>
    <!-- backtotop - end -->
    
    <!-- preloader - start -->
    <div class="preloader">
      <div class="animation_preloader">
        <div class="spinner"></div>
        <p class="text-center">Loading</p>
      </div>
      <div class="loader">
        <div class="row vh-100">
          <div class="col-3 loader_section section-left">
            <div class="bg"></div>
          </div>
          <div class="col-3 loader_section section-left">
            <div class="bg"></div>
          </div>
          <div class="col-3 loader_section section-right">
            <div class="bg"></div>
          </div>
          <div class="col-3 loader_section section-right">
            <div class="bg"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- preloader - end -->
    <div class="ftco-blocks-cover-1">
      <div class="ftco-cover-1 overlay innerpage" style="background-image: url('assets/images/im10.jpg')">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 text-center">
              <h1>Favorites</h1>
              <h3 align="center" style="color:rgb(247, 247, 247)">Your favorites rent and buy cars</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    
    <section class="breadcrumb_section text-center clearfix">
      <div class="overlay"></div>
      <div class="page_title_area has_overlay d-flex align-items-center clearfix">
        <div class="container " data-aos="fade-up" data-aos-delay="100">
        <div class="row">
          <div class="col-lg-4 mr-auto">
            <h2>Favorites Rent cars</h2>
            <div class="d-flex action">
                <a routerLink="favorites-rent" class="btn btn-primary">Rent favorites</a>
              </div>           
          </div>
        </div>
      </div>
    </div>
    </section>
    <section class="breadcrumb_section text-center clearfix">
      <div class="overlay"></div>
      <div class="page_title_area has_overlay d-flex align-items-center clearfix">
        <div class="container"data-aos="fade-up" data-aos-delay="100">
          <div class="row">
            <div class="col-lg-4 ml-auto">
              <h2>Favorites buy cars</h2>
              <div class="d-flex action">
                <a routerLink="favorites-rent" class="btn btn-primary">Buy favorites</a>
              </div> 
            </div>
          </div>
        </div>
      </div>
    </section>


<!--<section class="breadcrumb_section text-center clearfix">
  <div class="overlay"></div>
  <div class="page_title_area has_overlay d-flex align-items-center clearfix">
    <div class="container"data-aos="fade-up" data-aos-delay="100">
      <div class="row">
        <div class="col-lg-6 mb-5 mb-lg-0" *ngFor="let agency of agencyList">
          <img [src]="agency.image" alt="Image" class="img-fluid">
        </div>
        <div class="col-lg-4 ml-auto">
          <h2 class="mb-4">Welcome To RentalCar Agency  {{agency.location}}</h2>
          <br>
          <hr>
          <p>{{agency.description}}</p>
          <hr>
          
        <p><a  routerLink="/about/{{agency.id}}" class="btn btn-primary">More details</a></p>
        </div>
      </div>
    </div>
  </div>
</section>-->