<!-- backtotop - start -->
<div id="thetop"></div>
<div class="backtotop">
  <a href="#" class="scroll">
    <i class="fa fa-arrow-up"></i>
  </a>
</div>
<!-- backtotop - end -->

<!-- preloader - start -->
<div class="preloader">
  <div class="animation_preloader">
    <div class="spinner"></div>
    <p class="text-center">Loading</p>
  </div>
  <div class="loader">
    <div class="row vh-100">
      <div class="col-3 loader_section section-left">
        <div class="bg"></div>
      </div>
      <div class="col-3 loader_section section-left">
        <div class="bg"></div>
      </div>
      <div class="col-3 loader_section section-right">
        <div class="bg"></div>
      </div>
      <div class="col-3 loader_section section-right">
        <div class="bg"></div>
      </div>
    </div>
  </div>
</div>
<!-- preloader - end -->


<div class="ftco-blocks-cover-1">
  <div class="ftco-cover-1 overlay " style="background-image: url('assets/images/hero_1.jpg')">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-5">
          <div class="feature-car-rent-box-1" *ngIf="!currentUser.name ">
            <h3>Range Rover S7</h3>
            <ul class="list-unstyled">
              <li>
                <span>Marque</span>
                <span class="spec">Range Rover</span>
              </li>
              <li>
                <span>Puissance</span>
                <span class="spec">automatique</span>
              </li>
              <li>
                <span>Lugage</span>
                <span class="spec">2 Suitcase/2 Bags</span>
              </li>
              <li>
                <span>Transmission</span>
                <span class="spec">Automatic</span>
              </li>
              <li>
            </ul>
            <div class="d-flex align-items-center bg-light p-3">
              <span>$150/day</span>
              <a routerLink="/cars-rent" class="ml-auto btn btn-primary">Rent Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="site-section bg-light" *ngIf="!currentUser.name ">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <h3>Our Offer</h3>
        <p class="mb-4">Get Started With Our Exclusive Offre
          Only For You

        </p>
        <p>
          <a href="#" class="btn btn-primary custom-prev">Previous</a>
          <span class="mx-2">/</span>
          <a href="#" class="btn btn-primary custom-next">Next</a>
        </p>
      </div>
      <div class="col-lg-9">




        <div class="nonloop-block-13 owl-carousel">
          <div class="item-1">
            <a href="#"><img src="assets/images/im3.jpg" alt="Image" class="img-fluid"></a>
            <div class="item-1-contents">
              <div class="text-center">
                <h3><a href="#">Range Rover S64 Coupe</a></h3>
                <div class="rating">
                  <span class="icon-star text-warning"></span>
                  <span class="icon-star text-warning"></span>
                  <span class="icon-star text-warning"></span>
                  <span class="icon-star text-warning"></span>
                  <span class="icon-star text-warning"></span>
                </div>
                <div class="rent-price"><span>$250/</span>day</div>
              </div>
              <ul class="specs">
                <li>
                  <span>Marque</span>
                  <span class="spec">Range Rover</span>
                </li>
                <li>
                  <span>kilometrage</span>
                  <span class="spec">25.000 km</span>
                </li>
                <li>
                  <span>Transmission</span>
                  <span class="spec">Automatic</span>
                </li>
                <li>
                  <span>Puissance</span>
                  <span class="spec">administrative</span>
                </li>
              </ul>

              <div class="d-flex align-items-center bg-light p-3">
                <a routerLink="/cars-rent" class="btn btn-primary">Rent Now</a>
              </div>
            </div>
          </div>


          <div class="item-1">
            <a href="#"><img src="assets/images/im2.jpg" alt="Image" class="img-fluid"></a>
            <div class="item-1-contents">
              <div class="text-center">
                <h3><a href="#">Range Rover S64 Coupe</a></h3>
                <div class="rating">
                  <span class="icon-star text-warning"></span>
                  <span class="icon-star text-warning"></span>
                  <span class="icon-star text-warning"></span>
                  <span class="icon-star text-warning"></span>
                  <span class="icon-star text-warning"></span>
                </div>
                <div class="rent-price"><span>$250/</span>day</div>
              </div>
              <ul class="specs">
                <li>
                  <span>Marque</span>
                  <span class="spec">Range Rover</span>
                </li>
                <li>
                  <span>kilometrage</span>
                  <span class="spec">25.000 km</span>
                </li>
                <li>
                  <span>Transmission</span>
                  <span class="spec">Automatic</span>
                </li>
                <li>
                  <span>Puissance</span>
                  <span class="spec">administrative</span>
                </li>
              </ul>

              <div class="d-flex align-items-center bg-light p-3">
                <a routerLink="/voiture_vendre" class="btn btn-primary"> Buy Now </a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>